<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ravi Web</title>
    <link rel="stylesheet" href="/src/css/output.css">
</head>
<body>  
    <header class="bg-transparent absolute left-0 right-0 w-full flex items-center z-10">
        <div class="container">
            <div class="flex items-center justify-between relative">
                <div class="px-4">
                    <a href="#" class="text-lg font-bold text-gray-800 hover:text-gray-700">Ravi Farhan</a>
                </div>
                
            </div>
        </div>
    </header>
</body>
</html>